.footer {
    background-color: rgb(39, 39, 83);
    display: flex;
    flex: 1;
    height: 4rem;
    border-top: 0px solid #eaeaea;
    justify-content: center;
    align-items: center;
    margin-top: 0rem;
  }

  .footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    
  
  }
  .logo {
    height: 2em;
  }

  .logo.background {
    background-color: blueviolet;
    padding: 10px;
  }