.footer {
    background-color: rgb(193, 193, 201);
    display: flex;
    flex: 1;
    height: 4rem;
    justify-content: center;
    align-items: center;
    margin-top: 0rem;
  }

  .footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    
    
  
  }
  .logo {
    height: 2em;
  }

  .logo.background {
    padding: 10px;
    
  }