.footer {
    background-color: rgb(39, 39, 83);
    display: flex;
    flex: 1;
    height: 5rem;
    border-top: 0px solid #eaeaea;
    justify-content: center;
    align-items: center;
  }

  .footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
  .logo {
    height: 0em;
    margin-left: 0.5rem;
  }