.footer {
    background-color: rgb(193, 193, 201);
    display: flex;
    flex: 1;
    height: 4rem;
    justify-content: center;
    align-items: center;
    margin-top: 0rem;
  }

  .footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    
    
  
  }
  .logo {
    height: 2em;
  }

  .logo.background {
    padding: 10px;
    
  }

  @media screen and (min-width: 320px) and (max-width: 720px) {
    .footer{
      width: 140%;
      height: 8rem;
     
      
    }
  }