/* About page */
.container {
  padding-top: 0;
}

.main {
  background-color: rgb(216, 216, 226);
    min-height: 100vh;
    padding: 1rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  
 .main p {
    color: rgb(34, 34, 96);
    width: 50%;
 }


  .main h2 {
    color: rgb(138, 36, 36);
    text-align: center;
  }

  .main h1 {
    color: rgb(138, 36, 36);
    padding-top: 1rem;
    
  }
  
  
  .footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
  }
  
  .footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    
  }
  
  .logo {
    height: 3em;
    margin-left: 0.5rem;
  }
  
 
  
  @media screen and (min-width: 320px) and (max-width: 720px) {
      .main p {
        width: 90%
      }

      .main h1 {
        font-size: 1.0rem;
        padding: 0;
      }

      .main h2 {
        font-size: 0.8rem;
        padding: 0px;
      }
  }