
.containerAbout {
  padding-top: 0;
}

.main {
  background-color: rgb(216, 216, 226);
    min-height: 100vh;
    padding: 1rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

 .main p {
    color: rgb(34, 34, 96);
    width: 60%;
 }


  .main h2 {
    color: rgb(138, 36, 36);
    text-align: center;
    
  }

  .main h1 {
    color: rgb(138, 36, 36);
    padding-top: 1rem; 
    
  }
  
  @media screen and (min-device-width: 320px) and (max-device-width: 768px) {
    .containerAbout {
      width: 100%;
    } 
    
    .main {
      width: 150%;
    }
    
    .main p {
        width: 80%
      }

      .main h1 {
        font-size: 1.0rem;
        padding: 0;
      }

      .main h2 {
        font-size: 0.8rem;
        padding: 0px;
      }
  }
