
.container {
  
  color: rgb(10, 13, 12);
}

.mainHome {
  background-color: rgb(216, 216, 226);
  content: '';
  top: 0px;
  left: 0;
  width: 100%;
  height: 60%;
  background-image: url('/images/band.png');
  background-size: cover;
  background-position: center;
  z-index: -1
}

.main {
  min-height: 100vh;
  padding: 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}



h1.mainTitle {
  
  margin: 0rem;
    padding-left: 3.2rem;
    padding-top: 1.15rem;
    line-height: 1.15;
    font-size: 3rem;
    color: rgb(61, 18, 18);   
}

.searchBtn {
  color: #e3e5e8;
  margin-top: 5rem;
  padding: 0.6rem;
  margin-left: 3.6rem;
  background-color: #4b46e1;
  
  
}

/* login Page*/
.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title,
.description {
  text-align: center;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-align: center;
}

.description {
  color: rgb(1, 9, 9);
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.0rem;
}

.code {
  color: rgb(11, 7, 7);
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 0.8rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 0rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #311010;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 350px;
}

.form {
  color: rgb(16, 13, 90);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form > * {
  margin-bottom: 10px;
}

.form > button {
  cursor: pointer;
  transition: 0.15s ease;
  color: rgb(16, 13, 90);
}
.form>button:is(:hover, :focus, :active) {
  color: #f7efef;
  background-color: #222;
}

.card:is(:hover, :focus, :active) {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

@media screen and (min-width: 320px) and (max-width: 720px) {
  .main {
    width: 100%;
    height:100%;
  }

  .mainHome {
    width: 140%;;
  }
}
